body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #44089B;
    height: 60px;
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    width: 70%;
}
.header-2 {
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #028277;
}
.menu ul li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin-left: 15px;
    height: 48px;
}
.menu ul li:hover {
    border-bottom: 5px solid #44089B;
}
.menu ul li a:hover {
    color: #44089B;
}
.menu ul li a {
    color: #00A89A;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
}
.busca {
    text-align: center;
    width: 20%;
    float: right;
}
.busca input {
    background-image: url('../img/pesquisa.png');
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #A6A6A6;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 100px;
    height: 500px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    top: 35%;
    left: 2%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 100px;
    height: 500px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    top: 35%;
    right: 2%;
}

.slick-list {
    width: 100%!important;
}

/* para assumir o espaçamento da tela toda e diminuir a barra do scroll*/
.slick-initialized {
    overflow: hidden;
}

/* edição dos botões inferiores ao slide*/
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #FFFFFF;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

/* para remover a margem dos botões inferiores do slide*/
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 600px
}

.slick-dots li {
    display: inline-block;
}
