#js-container {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas {position: absolute; left: 0;}
#discountIMG {pointer-events:none;}

#js-container-2 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-2 {position: absolute; left: 0;}
#discountIMG-2 {pointer-events:none;}

#js-container-3 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-3 {position: absolute; left: 0;}
#discountIMG-3 {pointer-events:none;}

#js-container-4 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-4 {position: absolute; left: 0;}
#discountIMG-4 {pointer-events:none;}

#js-container-5 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-5 {position: absolute; left: 0;}
#discountIMG-5 {pointer-events:none;}

#js-container-6 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-6 {position: absolute; left: 0;}
#discountIMG-6 {pointer-events:none;}



#js-container-7 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-7 {position: absolute; left: 0;}
#discountIMG-7 {pointer-events:none;}

#js-container-8 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-8 {position: absolute; left: 0;}
#discountIMG-8 {pointer-events:none;}

#js-container-9 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-9 {position: absolute; left: 0;}
#discountIMG-9 {pointer-events:none;}

#js-container-10 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-10 {position: absolute; left: 0;}
#discountIMG-10 {pointer-events:none;}

#js-container-11 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-11 {position: absolute; left: 0;}
#discountIMG-11 {pointer-events:none;}

#js-container-12 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-12 {position: absolute; left: 0;}
#discountIMG-12 {pointer-events:none;}



#js-container-13 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-13 {position: absolute; left: 0;}
#discountIMG-13 {pointer-events:none;}

#js-container-14 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-14 {position: absolute; left: 0;}
#discountIMG-14 {pointer-events:none;}

#js-container-15 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-15 {position: absolute; left: 0;}
#discountIMG-15 {pointer-events:none;}

#js-container-16 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-16 {position: absolute; left: 0;}
#discountIMG-16 {pointer-events:none;}

#js-container-17 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-17 {position: absolute; left: 0;}
#discountIMG-17 {pointer-events:none;}

#js-container-18 {max-width: 500px; position: relative;margin:0 auto;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
#js-canvas-18 {position: absolute; left: 0;}
#discountIMG-18 {pointer-events:none;}